-i https://pypi.org/simple
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
gspread==3.1.0
h5py==2.9.0
httplib2==0.13.1
idna==2.8
imageio==2.5.0
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.0
oauth2client==4.1.3
pathlib==1.0.1
pillow==6.1.0
protobuf==3.9.1
pyasn1-modules==0.2.6
pyasn1==0.4.6
pyparsing==2.4.2
python-dateutil==2.8.0
requests==2.22.0
rsa==4.0
scipy==1.3.1
six==1.12.0
tensorboardx==1.8
torch==1.2.0
torchvision==0.4.0
urllib3==1.25.3
